name: Build Nibble firmware

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Install west
        run: pip install --upgrade west

      - name: Build left half
        run: west build -p -b nice_nano_v2 -- -DSHIELD=nibble_left -DZMK_CONFIG=$GITHUB_WORKSPACE

      - name: Build right half
        run: west build -p -b nice_nano_v2 -- -DSHIELD=nibble_right -DZMK_CONFIG=$GITHUB_WORKSPACE

      - name: Upload UF2
        uses: actions/upload-artifact@v3
        with:
          name: UF2
          path: |
            build/zephyr/zephyr.uf2

